.backgroundold {
    viewport-fill: #000000;
}


#background {
    width: 100%;
    height: 100%;
    fill: #c4b9a4;
}


.color-primary {
    fill: #f57d26;
}


.right-to-minute-background {
    fill: #334764;
}


.color-white {
    fill: white;
}


.color-light-gray {
    fill: #dddddd;
}


.font-stats1 {
    font-family: "Colfax-Bold";
    font-size: 20;
    text-anchor: middle;
    text-length: 50;
}


.stats-division {
    font-family: "Colfax-Bold";
    font-size: 20;
    text-anchor: middle;
    text-length: 50;
}


.font-stats2 {
    font-family: "Colfax-Bold";
    font-size: 20;
    text-anchor: middle;
    text-length: 50;
}


.font-date {
    font-family: "Colfax-Bold";
    width: 40;
    height: 40;
    font-size: 28;
    text-anchor: middle;
}


.font-day {
    font-family: "Colfax-Bold";
    width: 40;
    height: 40;
    font-size: 20;
    text-anchor: middle;
}


.font-numbers {
    font-family: "Colfax-Bold";
    width: 40;
    height: 40;
    font-size: 36;
    text-anchor: middle;
}

.font-numbers-minutes {
    font-family: "Colfax-Regular";
    width: 40;
    height: 40;
    font-size: 28;
    text-anchor: middle;
}


line {
    stroke-linecap: round;
}


line.time-hand {
    fill: white;
    x1: 0;
    y1: 0;
    x2: 0;
    y2: -10%-3;
    stroke-width: 3;
}


line.minutes-hand-back {
    fill: white;
    x1: 0;
    y1: -8%;
    x2: 0;
    y2: -46%;
    stroke-width: 9;
}


line.minutes-hand {
    fill: #f57d26;
    x1: 0;
    y1: -8%-1;
    x2: 0;
    y2: -46%+1;
    stroke-width: 6;
}


line.hours-hand-back {
    fill: white;
    x1: 0;
    y1: -8%;
    x2: 0;
    y2: -32%;
    stroke-width: 9;
}


line.hours-hand {
    fill: #f57d26;
    x1: 0;
    y1: -8%-1;
    x2: 0;
    y2: -32%+1;
    stroke-width: 6;
}


.display-none {
    display: none;
}